/*

Colors
======

    <ul class="swatch swatch--base">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="swatch swatch--comp">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="swatch swatch--tertiary">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

*/

.swatch {
  clear: both;
  float: left;
  max-width: 640px;
	li {
    border-radius: 8px;
		float: left;
		height: 120px;
		list-style: none;
		margin: 0 4px 4px 0;
		width: 120px;
	}
}


$base-colors: $base-color, colorize($base-color, l1), colorize($base-color, l2), colorize($base-color, l3), colorize($base-color, l4), colorize($base-color, d1), colorize($base-color, d2), colorize($base-color, d3), colorize($base-color, d4), $base-color;

@for $i from 1 through length($base-colors) {
  .swatch--base  {
    li:nth-child(#{$i}) {
        background: nth($base-colors, $i)
    }
  }
}

$comp-colors: $comp-color, colorize($comp-color, l1), colorize($comp-color, l2), colorize($comp-color, l3), colorize($comp-color, l4), colorize($comp-color, d1), colorize($comp-color, d2), colorize($comp-color, d3), colorize($comp-color, d4), $comp-color;

@for $i from 1 through length($comp-colors) {
  .swatch--comp {
    li:nth-child(#{$i}) {
        background: nth($comp-colors, $i)
    }
  }
}

$tertiary-colors: $tertiary-color, colorize($tertiary-color, l1), colorize($tertiary-color, l2), colorize($tertiary-color, l3), colorize($tertiary-color, l4), colorize($tertiary-color, d1), colorize($tertiary-color, d2), colorize($tertiary-color, d3), colorize($tertiary-color, d4), $tertiary-color;

@for $i from 1 through length($tertiary-colors) {
  .swatch--tertiary {
    li:nth-child(#{$i}) {
        background: nth($tertiary-colors, $i)
    }
  }
}
