/*

Colors
======

    <ul class="swatch swatch--base">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="swatch swatch--comp">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <ul class="swatch swatch--tertiary">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

*/

.swatch {
	clear: both;
	float: left;
	li {
		background-color: $base-color;
		float: left;
		height: 120px;
		list-style: none;
		margin: 0 4px 4px 0;
		width: 120px;
	}
}

.swatch--base {
	li {
		background-color: $base-color;
		&:nth-child(2) {
			background-color: colorize($base-color, l1);
		}
		&:nth-child(3) {
			background-color: colorize($base-color, l2);
		}
		&:nth-child(4) {
			background-color: colorize($base-color, l3);
		}
		&:nth-child(5) {
			background-color: colorize($base-color, l4);
		}
		&:nth-child(6) {
			clear: both;
			background-color: colorize($base-color, d1);
		}
		&:nth-child(7) {
			background-color: colorize($base-color, d2);
		}
		&:nth-child(8) {
			background-color: colorize($base-color, d3);
		}
		&:nth-child(9) {
			background-color: colorize($base-color, d4);
		}
	}
}

.swatch--comp {
	li {
		background-color: $comp-color;
		&:nth-child(2) {
			background-color: colorize($comp-color, l1);
		}
		&:nth-child(3) {
			background-color: colorize($comp-color, l2);
		}
		&:nth-child(4) {
			background-color: colorize($comp-color, l3);
		}
		&:nth-child(5) {
			background-color: colorize($comp-color, l4);
		}
		&:nth-child(6) {
			clear: both;
			background-color: colorize($comp-color, d1);
		}
		&:nth-child(7) {
			background-color: colorize($comp-color, d2);
		}
		&:nth-child(8) {
			background-color: colorize($comp-color, d3);
		}
		&:nth-child(9) {
			background-color: colorize($comp-color, d4);
		}
	}
}

.swatch--tertiary {
	li {
		background-color: $tertiary-color;
		&:nth-child(2) {
			background-color: colorize($tertiary-color, l1);
		}
		&:nth-child(3) {
			background-color: colorize($tertiary-color, l2);
		}
		&:nth-child(4) {
			background-color: colorize($tertiary-color, l3);
		}
		&:nth-child(5) {
			background-color: colorize($tertiary-color, l4);
		}
		&:nth-child(6) {
			clear: both;
			background-color: colorize($tertiary-color, d1);
		}
		&:nth-child(7) {
			background-color: colorize($tertiary-color, d2);
		}
		&:nth-child(8) {
			background-color: colorize($tertiary-color, d3);
		}
		&:nth-child(9) {
			background-color: colorize($tertiary-color, d4);
		}
	}
}